.button {
    display: block;
    position: relative;
    min-width: 150px;
    max-width: 250px;
    padding: 1em 2em;
    float: left;
    border: 0;
    background: none;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: middle;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;

    &:focus {
        outline: none;
    }
}

.button--sacnite {
    height: 70px;
    margin: 0 auto;
    transition: color 300ms, background-color 300ms;
    color: $color-orange;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale3d(.9, .9, 1);
        transition: box-shadow 300ms, transform 300ms;
        color: $color-orange;
        box-shadow: inset 0 0 0 2px $color-orange;
        content: '';
        z-index: -1;
    }

    &:hover {
        color: $color-orange;
    }

    &:hover::before {
        transform: scale3d(1, 1, 1);
    }

    &:focus {
        background-color: $color-white-06;
    }

    &:focus::before {
        transform: scale3d(1, 1, 1);
    }
}
