// Colors
// -----------------------------------------------------------------------------
$color-green:     #45bb53;
$color-orange:    #ff6a10;
$color-black:     #000;
$color-white:     #fff;
$color-white-06:  rgba(255, 255, 255, .6);
$color-grey:      #f5f5f5;
$color-grey-1:    #4d4d4d;
$color-grey-2:    #bfbfbf;


$bg-color:        $color-grey;
$font-main-color: $color-grey-1;
